


/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 600px) {

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300&display=swap');

* {

    box-sizing: border-box;
    margin:0;
}
.containerTotal {
    flex-wrap: wrap;
    background: linear-gradient( #212b46,#2a225a,#212b46);
    height: 100vh;
}

h1{
    color:white;
    opacity: 0.6;
    
}

.footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.329);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(207, 207, 207);
    background-color: white;;
   
}

.menu {
    justify-content: center;
    
}

.menu ul {
    background: black;
    padding: 20px;
    text-align: right;
}

.menu li {
    display: inline-block;

}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    background: black;
}

.menu li a:hover {
    background: gray;
}


.perfil{
    margin-left:5%;
    margin-top:2%;
    display:inline-flex;
    width: 25%;
    height: 70%;
}

.perfil img{
 width: 80%;
 height: 100%;
 display: inline-flex;
}

.minhaDescricao{
    
    display:inline-flex;
    color:white;
    font-size: larger;
    text-align: center;
    width: 55%;
    flex-direction: column;
    margin-top:10%;

}

.apresentacao{
    display:flex;  
    
}

#text {
    font-size: 1.7vw;
  }

}

.redes{
    flex-direction: column;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    
 }

 @keyframes flipImagem {
  

    to {
        transform: translateX(10px) scale(1) ;
        transition-duration: 1s;
    }
}
.redes{
    transform: translateX(46px) scale(1) ;
    transition-duration: 1s;
    
}

 .redes a:hover{
    transition-duration: 1s;
    transform: translateX(-40px) scale(1) ;
 }

 .redes :not(:hover){
    transition-duration: 1s;
 }




/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300&display=swap');
    
    * {
    
        box-sizing: border-box;
        margin:0;
    }
    .containerTotal {
        flex-wrap: wrap;
        background: linear-gradient( #212b46,#2a225a,#212b46);
        height: 100vh;
        
        
        
    }
    
    h1{
        color:white;
        opacity: 0.6;
        
    }
    
    .footer {
        text-align: center;
        background: gray;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        z-index: 2;
    }
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(207, 207, 207);
        background-color: white;
        
       
    }
    
    .menu {
        justify-content: center;
        
    }
    
    .menu ul {
        background: black;
        padding: 20px;
        text-align: right;
    }
    
    .menu li {
        display: inline-block;
    
    }
    
    .menu li a {
        text-decoration: none;
        color: white;
        padding: 20px;
        background: black;
    }
    
    .menu li a:hover {
        background: gray;
    }
    
    
    .perfil{
        margin-top:2%;
        display:flex;
       justify-content: center;
    }
    
    .perfil img{
     width: 60%;
     height: 80%;
     display: flex;
     justify-items: center;
    }
    
    .minhaDescricao{
        
        display:inline-flex;
        color:white;
        font-size: larger;
        text-align: center;
        width: 80%;
        flex-direction: column;
        margin-top:5%;
        
    }
    
    .apresentacao{
        display:flex;  
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    
    }
    
    #text {
        font-size: 5vw;
      }
    
}

.redes{
    flex-direction: column;
    position: fixed;
    top:40%;
    right: 0;
    display: flex;
    align-items: center;
    
 }

    