/* Smartphones (600px para baixo) */
@media only screen and (min-width: 600px){

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300&display=swap');
    
    * {
        box-sizing: border-box;
    }
    
       
    h1{
        color:white;
        opacity: 0.6;
        font-weight: 100;
        margin-top: 1%;
    }
    .footer {
        text-align: center;
        background: gray;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        z-index: 2;
    }
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient( #212b46,#2a225a,#212b46,#2a225a);
        height: 100vh;
    }
    
    .menu {
        justify-content: center;
    }
    
    .menu ul {
        background: black;
        padding: 20px;
        text-align: right;
    }
    
    .menu li {
        display: inline-block;
    
    }
    
    .menu li a {
        text-decoration: none;
        color: white;
        padding: 20px;
        background: black;
    }
    
    .menu li a:hover {
        background: gray;
    }
    
    
    
    
    @keyframes flipImagem {
        from {
            transform: rotateX(45deg);
            
        }
    
        to {
            transform: rotateX(0deg);
            
        }
    }
    
    .bordaImagem{
        
        transition: transform 0.5s;
        transform: translateX(0) scale(1);
        box-shadow: 1px 1px 5px 1px black;
        border-radius: 10px;
        animation: flipImagem 1s;
        width: 90%;
        
    }
    
    .bordaImagem:hover{
        cursor:pointer;
        transform: translateX(10px) scale(1);
        filter:brightness(1.3)
    }
    
    .tarefa.clicado .textoTarefa {
        text-decoration: line-through;
        color: rgb(31, 139, 40);
    }
    
    .containerPort{
        display:inline-block;
        width: 30%;
        text-align: center;  
        margin-top:2%;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    
    .linkApp a{
        color:rgb(44, 168, 158);
        text-decoration: none;
    }
    
    .descricaoApp{
        color:rgb(112, 104, 104);
        margin:2%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }
    
    .tecnologias{
        color:rgb(112, 104, 104);
        
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    
    .caixa{
        
        justify-content: center;
        display:flex;
    }
    
    }

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px){

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300&display=swap');

* {

    box-sizing: border-box;
    
}




h1{
    color:white;
    opacity: 0.6;
    
}
.footer {
    text-align: center;
    background: gray;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient( #212b46,#2a225a,#212b46,#2a225a);
}

.menu {
    justify-content: center;
}

.menu ul {
    background: black;
    padding: 20px;
    text-align: right;
}

.menu li {
    display: inline-block;

}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    background: black;
}

.menu li a:hover {
    background: gray;
}




@keyframes flipImagem {
    from {
        transform: rotateX(45deg);
        
    }

    to {
        transform: rotateX(0deg);
        
    }
}

.bordaImagem{
    
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
    animation: flipImagem 1s;
    width: 90%;
    
}

.bordaImagem:hover{
    cursor:pointer;
    transform: translateX(10px) scale(1);
    filter:brightness(1.3)
}

.tarefa.clicado .textoTarefa {
    text-decoration: line-through;
    color: rgb(31, 139, 40);
}

.containerPort{
    display:inline-block;
    width: 95%;
    text-align: center;  
    margin-top:8%;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 4%;
}


.linkApp a{
    color:rgb(44, 168, 158);
    text-decoration: none;
    
    
}

.descricaoApp{
    color:rgb(112, 104, 104);
    
    margin:2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.tecnologias{
    color:rgb(112, 104, 104);
    
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.caixa{
    
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

}